.style-cover {
    margin-top: 2.8rem;
}

.switch-wrapper {
    display: flex;
    align-items: center;
    gap: 1.2rem;

    .light-mode {
        display: none;
    }
}

.switch-wrapper:has(:checked) {
    .light-mode {
        display: block;
    }

    .dark-mode {
        display: none;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 6.4rem;
    height: 3.2rem;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg,
            var(--content-tertiary) 0%,
            var(--content-tertiary) 100%);
    -webkit-transition: .3s;
    transition: .3s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 2.4rem;
    width: 2.4rem;
    left: 4px;
    bottom: 4px;
    background: var(--content-primary);
    -webkit-transition: .3s;
    transition: .3s;
}

input:checked+.slider {
    background: linear-gradient(90deg,
            var(--accent-pink) 0%,
            var(--accent-blue) 58.93%);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--accent-blue);
}

input:checked+.slider:before {
    -webkit-transform: translateX(3.2rem);
    -ms-transform: translateX(3.2rem);
    transform: translateX(3.2rem);
    background: var(--content-primary);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}